@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}
.MuiInputBase-input {
  font-family: 'Poppins', sans-serif !important ;
}

.card {
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2rem;
  padding: 1rem;
  z-index: 50;
  backface-visibility: hidden;
}

.card__wrapper {
  perspective: 900px;
}

input[type='color'] {
  -webkit-appearance: none;
  border: none;
  width: 35px;
  height: 35px;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}

.MuiInputBase-input {
  overflow: hidden !important;
}

.MuiInputBase-root {
  overflow: hidden !important;
}
